.chart {
   width: 45%;
   padding-top: 30px;
   background-color: #ebe9ee;
   border-radius: 10px;
   align-items: center;
   text-align: center;
}

.myCanvas {
    padding-bottom: 30px;
}

.toggleBtn {
    margin-bottom: 20px;
}