<div>
    <mat-toolbar color="primary" class="footer">
        <div class="footer-top">
            <span class="pl-3 sfFontDisplay">COVID-19 Live Reports</span>
            <div>
                <button mat-fab color="disabled" aria-label="Angular" class="angular-fab">
                    <img class="logo" src="../../assets/images/angular_logo.png" alt="">
                </button>
                <button mat-fab color="disabled" aria-label="Angular Material" class="material-fab">
                    <img class="logo" src="../../assets/images/angular_material_fab.png" alt="">
                </button>
                <button mat-fab color="disabled" aria-label="AWS" class="aws-fab">
                    <img class="aws-logo" src="../../assets/images/aws_logo.png" alt="">
                </button>
            </div>
        </div>
    </mat-toolbar>
</div>