<mat-toolbar color="primary" class="footer-class mt-4">
    <!--<div class="fab-bar">
        <span class="fabs">
            <button mat-fab color="disabled" aria-label="Example icon button with a delete icon" class="fab-button">
                <a href="https://angular.io/">
                    <img class="angular-fab-logo" src="../../assets/images/angular_fab.png" alt="Angular logo"></a>
            </button>
        </span>
        <span class="fabs">
            <button mat-fab color="disabled" aria-label="Example icon button with a bookmark icon"
                class="fab-button pl-3">
                <a href="https://material.angular.io/">
                    <img class="material-fab-logo" src="../../assets/images/angular-material-logo.svg"
                        alt="Angular material logo"></a>
            </button>
        </span>
        <span class="fabs">
            <button mat-fab color="disabled" aria-label="Example icon button with a home icon" class="fab-button">
                <a href="https://aws.amazon.com/">
                    <img class="aws-fab-logo" src="../../assets/images/aws_fab.png" alt="AWS logo"></a>
            </button>
        </span>
    </div>-->
    <div class="copyrights">
        <span class="mat-h4 sfFontText text-white">
            &copy; Copyrights 2021 | <a class="text-white sfFontText link-padding"
                href="vaibhavpotdar911.github.io/Portfolio">Vaibhav Potdar</a>
        </span>
    </div>
</mat-toolbar>