<div class="grid-container pl-1">
    <mat-icon class="v-align-middle">contacts_rounded</mat-icon>
    <span class="mat-h1 sfFontDisplay v-align-middle pl-1">About</span>
</div>

<div class="grid-container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image-covid"></div>
            <mat-card-title class="sfFontText">COVID-19</mat-card-title>
            <mat-card-subtitle class="sfFontText">Corona Virus Disease</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/about_banner.png" alt="COVID Image">
        <mat-card-content>
            <p class="justify sfFontText p-1">
                Coronavirus disease 2019 <i>(COVID-19)</i>, also known as the coronavirus, or COVID, is a contagious
                disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease has
                since spread worldwide, leading to an ongoing pandemic. Symptoms of COVID-19 are variable, but often
                include <i>fever, cough, headache, fatigue, breathing difficulties, and loss of smell and
                    taste.</i> Symptoms may begin one to fourteen days after exposure to the virus.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="center-items pb-3">
                <a href="https://covid19.who.int/">
                    <button mat-button color="primary">
                        <span class="pl-1 pr-1">LEARN MORE</span>
                    </button>
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<div class="grid-container">
    <span>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image-app"></div>
                <mat-card-title class="sfFontText">About this app</mat-card-title>
                <mat-card-subtitle class="sfFontText">Developed on Angular</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/angular_banner.jpg" alt="Angular Image">
            <mat-card-content>
                <p class="justify sfFontText p-1">
                    This application is developed to fetch the live data of the <b>COVID-19</b> cases around the world.
                    <br>
                    This application is developed by <i>Vaibhav Potdar</i> on <b>Angular v12 and Angular Material
                        Design</b>. <br> <br>

                    API Used : <a href="https://corona.lmao.ninja/">Disease.sh</a> <br> <br>

                    This application also has been deployed on <b>Amazon Web Services (AWS)</b> and also has <i> an
                        active CI/CD pipeline</i> using AWS CodePipeline. <br>
                    Development build is also available on <i>Github.</i>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="center-items pb-3">
                    <a href="https://angular.io/">
                        <button mat-raised-button color="warn">
                            <img class="logo" src="../../assets/images/angular_logo.png" alt="Angular Logo">
                            <span class="brand">LEARN MORE ABOUT ANGULAR</span>
                        </button>
                    </a>
                    <a class="button-align" href="https://material.angular.io/">
                        <button mat-raised-button color="primary">
                            <img class="logo" src="../../assets/images/material_logo.png" alt="Angular Logo">
                            <span class="brand">LEARN MORE ABOUT ANGULAR MATERIAL</span>
                        </button>
                    </a>
                    <a class="button-align" href="https://aws.amazon.com/">
                        <button mat-raised-button class="aws-button">
                            <img class="logo aws" src="../../assets/images/aws_logo.png" alt="AWS Logo">
                            <span class="brand">LEARN MORE ABOUT AWS</span>
                        </button>
                    </a>
                </div>
            </mat-card-actions>
        </mat-card>
    </span>
</div>