<div class="container">
    <div class="grid-container pl-1">
        <mat-icon class="v-align-middle">feedback</mat-icon>
        <span class="mat-h1 sfFontDisplay v-align-middle pl-1">Feedback</span>
    </div>
    <div class="grid-container">
        <mat-card class="center-items sfFontText border-radius" style="font-size: large;">Please leave a comment so we can improve our work. Your feedback is precious to us.</mat-card>
    </div>
    <div class="grid-container">
        <mat-card class="card mat-elevation-z6 border-radius">
            <form (ngSubmit)="onSubmit()">
                <fieldset>
                    <mat-card-title class="center-items sfFontText pt-2">Please enter the following details</mat-card-title>
                    <div class="center-items pt-3">
                        <mat-form-field appearance="outline" class="feedback-input mb-2">
                            <mat-label for="name">Name </mat-label>
                            <input matInput type="text" [(ngModel)]="name" placeholder="Please enter your Name"
                                name="name" id="name">
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <mat-form-field appearance="outline" class="feedback-input mb-2">
                            <mat-label for="email">Email </mat-label>
                            <input matInput type="text" [(ngModel)]="email" placeholder="Please enter your Email"
                                name="email" id="email">
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <mat-form-field appearance="outline" class="feedback-input mb-2">
                            <mat-label for="title">Title </mat-label>
                            <input matInput type="text" [(ngModel)]="title"
                                placeholder="Please enter the title of the feedback.." name="title" id="title">
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <mat-form-field appearance="outline" class="feedback-input mb-2">
                            <mat-label for="description">Description</mat-label>
                            <textarea rows="5" matInput type="text" [(ngModel)]="description" name="description"
                                placeholder="Please enter some description for this feedback..."
                                id="description"> </textarea>
                        </mat-form-field>
                    </div>

                    <div class="mb-3" style="text-align: center;">

                        <button mat-raised-button color="primary" type="submit">Submit</button>
                        <span class="pl-3">
                        <button mat-raised-button class="pl-3" color="warn" type="reset">Reset</button>
                    </span>
                    </div>
                </fieldset>
            </form>
        </mat-card>
    </div>
</div>