<mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="pl-3">
        <a mat-button routerLink="" class="nav-items">
            <mat-icon class="v-align-middle">bug_report</mat-icon>
            <span class="v-align-middle pl-1 sfFontDisplay brand-font">
                COVID-19 Live Reports
            </span>
        </a>
    </div>

    <div class="spacer"></div>

    <div class="pr-3">
        <a mat-button routerLink="" class="nav-items">Home</a>
        <a mat-button routerLink="projects" class="nav-items">Projects</a>
        <a mat-button routerLink="about" class="nav-items">About</a>
        <a mat-button routerLink="contactus" class="nav-items">Contact Us</a>
        <a mat-button class="nav-items" href="https://github.com/vaibhavpotdar911">
            <img class="logo" src="../../assets/images/github_logo.png" alt="Github Logo">
            <span class="brand">Github</span>
        </a>
    </div>
</mat-toolbar>