<mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="pl-3">
            <mat-icon class="v-align-middle">bug_report</mat-icon>
            <span class="v-align-middle pl-1 sfFontDisplay nav-brand">
                COVID-19 Tracker
            </span>
        </div>
    <div class="spacer"></div>
    <div class="pr-3">
        <a mat-button routerLink="" class="sfFontDisplay nav-items">Home</a>
        <a mat-button routerLink="about" class="sfFontDisplay nav-items">About</a>
        <a mat-button routerLink="home" class="sfFontDisplay nav-items">Contact Us</a>
        <a mat-button routerLink="home" class="sfFontDisplay nav-items">Temp</a>
        <a mat-raised-button color="accent" class="sfFontDisplay nav-items">Sign Up!</a>
    </div>
</mat-toolbar>

