<div class="container-fluid">
    <div class="pb-3 pl-2">
        <mat-icon class="v-align-middle">language</mat-icon>
        <span class="mat-h1 sfFontDisplay v-align-middle pl-1">Worldwide</span>
    </div>
    <div>
        <mat-grid-list cols="4" gutterSize="15px" rowHeight="140px">
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-header">
                        <div mat-card-avatar class="header-image-total"></div>
                        <mat-card-title class="sfFontText pt-2">Total Cases Registered</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-4">
                            {{data.cases}}
                            <span class="update-total">
                                <mat-icon>arrow_upward</mat-icon>
                                {{ data.todayCases }}
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-header">
                        <div mat-card-avatar class="header-image-active"></div>
                        <mat-card-title class="sfFontText pt-2">Active Cases</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-4">
                            {{data.active}}
                            <span class="update-active">
                                <mat-icon>arrow_upward</mat-icon>
                                {{data.todayCases}}
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-header">
                        <div mat-card-avatar class="header-image-recovered"></div>
                        <mat-card-title class="sfFontText pt-2">Recovered Cases</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-4">
                            {{data.recovered}}
                            <span class="update-recovered">
                                <mat-icon>arrow_upward</mat-icon>
                                {{data.todayRecovered}}
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-header">
                        <div mat-card-avatar class="header-image-deaths"></div>
                        <mat-card-title class="sfFontText pt-2">Total Deaths Registered</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-4">
                            {{data.deaths}}
                            <span class="update-deaths">
                                <mat-icon>arrow_upward</mat-icon>
                                {{data.todayDeaths}}
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="pt-3 pl-2">
        <mat-icon class="v-align-middle">public</mat-icon>
        <span class="mat-h1 sfFontDisplay v-align-middle pl-1">COVID-19 data by Country</span>
    </div>

    <div>
        <app-covid19-reports></app-covid19-reports>
    </div>

</div>