.country-selector{
  min-width: 280px;
}

.state-selector{
  min-width: 280px;
  padding-right: 1rem;
}

.small-padding{
  padding-left: 0.5rem;
}
.covid-worldwide-card {
  background-color: #ebe9ee;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}

.mat-card-header {
  align-items: center;
}

.header-image-total {
  background-image: url('../../assets/images/total_cases_logo.png');
  background-size: cover;
}

.header-image-active {
  background-image: url('../../assets/images/active_logo.png');
  background-size: cover;
}

.header-image-recovered {
  background-image: url('../../assets/images/recovered_logo.png');
  background-size: cover;
}

.header-image-deaths {
  background-image: url('../../assets/images/deaths_logo.png');
  background-size: cover;
}

.card-subtitle {
  font-size: xx-large;
  color: rgb(83, 83, 83);
}

.update-total {
  margin-left: 1rem;
  font-size: x-large;
  color: navy;
}

.update-active {
  margin-left: 1rem;
  font-size: x-large;
  color: chocolate;
}

.update-recovered {
  margin-left: 1rem;
  font-size: x-large;
  color: green;
}

.update-deaths {
  margin-left: 1rem;
  font-size: x-large;
  color: red;
}

.chart {
  width: 50%;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
}

.myCanvas {
  padding-bottom: 30px;
}

.toggleBtn {
  margin-bottom: 20px;
  font-size: medium;
}

.chart-div{
  background-color: #ebe9ee;
  border-radius: 10px;
}

.covid-report-bg {
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}