.covid-worldwide-card {
  background-color: #ebe9ee;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}

.mat-card-header {
  align-items: center;
}

.header-image-total {
  background-image: url('../../assets/images/total_cases_logo.png');
  background-size: cover;
}

.header-image-active {
  background-image: url('../../assets/images/active_logo.png');
  background-size: cover;
}

.header-image-recovered {
  background-image: url('../../assets/images/recovered_logo.png');
  background-size: cover;
}

.header-image-deaths {
  background-image: url('../../assets/images/deaths_logo.png');
  background-size: cover;
}

.card-subtitle {
  font-size: xx-large;
  color: rgb(83, 83, 83);
}

.update-total {
  margin-left: 1rem;
  font-size: x-large;
  color: navy;
}

.update-active {
  margin-left: 1rem;
  font-size: x-large;
  color: chocolate;
}

.update-recovered {
  margin-left: 1rem;
  font-size: x-large;
  color: green;
}

.update-deaths {
  margin-left: 1rem;
  font-size: x-large;
  color: red;
}