<div class="grid-container">
    <mat-icon class="v-align-middle">drafts_rounded</mat-icon>
    <span class="mat-h1 sfFontDisplay v-align-middle pl-1">Contact us</span>
</div>

<div class="grid-container">
    <mat-card class="card">
        <mat-card-content>
            <p class="justify sfFontText center pb-contact">Reach out to us for work related queries.</p>
            <form class="center" action="https://docs.google.com/forms/d/e/1FAIpQLScLFh3JZtVCkfbB6TAMzZDI0XU6YjhAt6hE3_YfGWoALho2PQ/formResponse" target="_self" id="ss-form" method="POST">
                <div>
                    <mat-form-field appearance="outline" class="input-width">
                        <mat-label>Name</mat-label>
                        <input id="2005620554" name="entry.2005620554" type="text" placeholder="Ex. John" matInput required>
                        <mat-hint>Enter your Full Name</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="input-width">
                        <mat-label>Email</mat-label>
                        <input id="1045781291" name="entry.1045781291" type="mail" placeholder="Ex. john@google.com" matInput required>
                        <mat-hint>Enter your E-mail address</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="input-width">
                        <mat-label>Contact Number</mat-label>
                        <input id="1166974658" name="entry.1166974658" type="tel" placeholder="Ex. 1111122222" matInput required>
                        <mat-hint>Enter your Mobile number</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="input-width">
                        <mat-label>Leave a comment</mat-label>
                        <textarea id="839337160" name="entry.839337160" class="comment" matInput placeholder="Ex. Greetings for the day..."></textarea>
                    </mat-form-field>
                </div>
                <div class="input-buttons">
                    <button class="btn1" type="submit" mat-raised-button color="primary">Submit</button>
                    <button type="reset" mat-raised-button color="warn">Reset </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>