.center {
    text-align: center;
    align-items: center;
}
.card{
    border-radius: 10px;
}
.input-width {
    width: 60%;
}

.input-buttons {
    margin: auto;
    padding-bottom: 20px;
}

.btn1{
    margin-right: 25px;
}

.comment {
    height: 70px;
}