<div class="container-fluid">
    <div class="pb-3 pl-2">
        <mat-icon class="v-align-middle">local_hospital</mat-icon>
        <span class="mat-h1 sfFontDisplay v-align-middle pl-1">Worldwide Vaccination</span>
    </div>
    <div>
        <mat-grid-list cols="4" gutterSize="15px" rowHeight="125px" class="vaccination-grid">
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-population"></div>
                        <mat-card-title class="sfFontText pt-2">Worldwide Population</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.population}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-vaccine-administered"></div>
                        <mat-card-title class="sfFontText pt-2">Vaccines Adminstered</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.administered}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-total-vaccinated"></div>
                        <mat-card-title class="sfFontText pt-2">Population Fully Vaccinated</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.people_vaccinated}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-partial-vaccinated"></div>
                        <mat-card-title class="sfFontText pt-2">Population Partially Vaccinated</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.people_partially_vaccinated}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="pt-3 pl-2">
        <mat-icon class="v-align-middle">local_pharmacy</mat-icon>
        <span class="mat-h1 sfFontDisplay v-align-middle pl-1">COVID-19 Vaccination Data Charts</span>
    </div>

    <div class="pt-3">
        <app-vaccination-reports></app-vaccination-reports>
    </div>

</div>