.covid-worldwide-card {
  background-color: #ebe9ee;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}

.vaccination-grid{
  height: 100px;
}

.mat-card-center{
  align-items: center;
}

.header-image-population {
  background-image: url('../../assets/images/population_logo.png');
  background-size: cover;
}


.header-image-vaccine-administered {
  background-image: url('../../assets/images/injection1.png');
  background-size: cover;
}

.header-image-total-vaccinated {
  background-image: url('../../assets/images/injection3.png');
  background-size: cover;
}

.header-image-partial-vaccinated {
  background-image: url('../../assets/images/injection2.png');
  background-size: cover;
}

.card-subtitle {
  font-size: xx-large;
  color: rgb(83, 83, 83);
}

.update-vaccinated {
  margin-left: 1rem;
  font-size: x-large;
  color: green;
}

.chart {
  width: 50%;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 30px;

}

.myCanvas {
   padding-bottom: 30px;
}

.toggleBtn {
  font-size: medium;
}

.center-div {
 background-color: #ebe9ee;
 border-radius: 10px;
}

.pie-chart-india {
  padding-top: 30px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 30px;
}

.pie-chart-india-div {
  background-color: #ebe9ee;
  border-radius: 10px;
  width: 50%;
  margin-right: 1rem;
 }

 .pie-chart-india-vaccine {
  padding-top: 30px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 30px;
  width: 70%;
}

.half-donut{
  margin-top: 3rem;
}

.small-padding{
  padding-left: 0.5rem;
}

.donut-chart-india-div {
  background-color: #ebe9ee;
  border-radius: 10px;
  width: 50%;
  margin-left: 1rem;
 }