.covid-worldwide-card {
  background-color: #ebe9ee;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}

.header-image-vaccine-administered {
  background-image: url('../../assets/images/injection1.png');
  background-size: cover;
}

.header-image-total-vaccinated {
  background-image: url('../../assets/images/injection3.png');
  background-size: cover;
}

.header-image-partial-vaccinated {
  background-image: url('../../assets/images/injection2.png');
  background-size: cover;
}

.card-subtitle {
  font-size: xx-large;
  color: rgb(83, 83, 83);
}

.update-total {
  margin-left: 2rem;
  font-size: x-large;
  color: navy;
}

.update-active {
  margin-left: 2rem;
  font-size: x-large;
  color: chocolate;
}

.update-recovered {
  margin-left: 2rem;
  font-size: x-large;
  color: green;
}

.update-deaths {
  margin-left: 2rem;
  font-size: x-large;
  color: red;
}