<div class="container-fluid">
    <div class="pb-3 pl-2">
        <mat-icon class="v-align-middle">local_hospital</mat-icon>
        <span class="mat-h1 sfFontDisplay v-align-middle pl-1">Worldwide Vaccination</span>
    </div>
    <div>
        <mat-grid-list cols="4" gutterSize="15px" rowHeight="125px" class="vaccination-grid">
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-population"></div>
                        <mat-card-title class="sfFontText pt-2">Worldwide Population</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{ vaccinationData.Global.All.population }}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-vaccine-administered"></div>
                        <mat-card-title class="sfFontText pt-2">Vaccines Adminstered</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.administered}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-total-vaccinated"></div>
                        <mat-card-title class="sfFontText pt-2">Population Fully Vaccinated</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.people_vaccinated}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="covid-worldwide-card">
                    <mat-card-header class="mat-card-center">
                        <div mat-card-avatar class="header-image-partial-vaccinated"></div>
                        <mat-card-title class="sfFontText pt-2">Population Partially Vaccinated</mat-card-title>
                        <mat-card-subtitle class="card-subtitle sfFontText pt-3">
                            {{vaccinationData.Global.All.people_partially_vaccinated}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="pt-3"></div>

    <div class=" center-div mat-elevation-z6">
        <div class="chart">
            <mat-icon class="v-align-middle">pie_chart</mat-icon>
            <span class="mat-h1 sfFontDisplay v-align-middle pl-1">Visual Representation</span>
            <canvas class="myCanvas" baseChart
                [data]="[(this.vaccinationData.Global.All.population)-(vaccinationData.Global.All.people_vaccinated)-(this.vaccinationData.Global.All.people_partially_vaccinated), this.vaccinationData.Global.All.people_vaccinated, this.vaccinationData.Global.All.people_partially_vaccinated]"
                [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
            <button class="toggleBtn sfFontText" mat-raised-button color="accent" (click)="pieChartLegend=!pieChartLegend">Toggle
                Legend</button>
        </div>
    </div>
</div>